BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 100
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
MaxEmptyLinesToKeep: 3
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeCatch: true
    BeforeElse: false
SpacesBeforeTrailingComments: 2
Standard: Cpp11
UseTab: Never