/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// 文本框衬线字体
textarea {
  font-family: "Consolas", monospace, sans-serif;
}

// 标题太粗了
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

$brand-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

.brand {
  color: $brand-color;
}
.success {
  color: $success-color;
}
.warning {
  color: $warning-color;
}
.danger {
  color: $danger-color;
}
.info {
  color: $info-color;
}
