/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// 文本框衬线字体
textarea {
  font-family: sans-serif;
}

// 标题太粗了
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
